/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
:root {
  scroll-behavior: smooth;
}

body {
  font-family: "Nunito", sans-serif;
  background: #f6f8fc;
  color: #444444;
}

a {
  color: #055570;
  text-decoration: none;
}

a:hover {
  color: #717ff5;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
}

p {
  margin: 0;
  padding: 0;
}

::placeholder {
  color: rgb(201, 201, 201) !important;
  font-style: italic;
  font-weight: normal !important;
}

:focus{
	outline:none;
}
/* textarea{
  resize:none;
} */
input:read-only,
textarea:read-only,
input.readonly{
  background-color: #f5f5f5;
}
/*--------------------------------------------------------------
# Main
--------------------------------------------------------------*/
#main {
  margin-top: 90px;
  padding: 20px 30px;
  transition: all 0.3s;
}

@media (max-width: 1199px) {
  #main {
    padding: 20px;
  }
}

/*--------------------------------------------------------------
# Page Title
--------------------------------------------------------------*/
.pagetitle {
  margin-bottom: 10px;
}

.pagetitle h1 {
  font-size: 24px;
  margin-bottom: 0;
  font-weight: 600;
  color: #012970;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background: #055570;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #6776f4;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Override some default Bootstrap stylings
--------------------------------------------------------------*/
/* Dropdown menus */
.dropdown-menu {
  border-radius: 4px;
  padding: 10px 0;
  -webkit-animation-name: dropdown-animate;
  animation-name: dropdown-animate;
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  border: 0;
  box-shadow: 0 5px 30px 0 rgba(82, 63, 105, 0.2);
}

.dropdown-menu .dropdown-header,
.dropdown-menu .dropdown-footer {
  text-align: center;
  font-size: 15px;
  padding: 10px 25px;
}

.dropdown-menu .dropdown-footer a {
  color: #444444;
  text-decoration: underline;
}

.dropdown-menu .dropdown-footer a:hover {
  text-decoration: none;
}

.dropdown-menu .dropdown-divider {
  color: #a5c5fe;
  margin: 0;
}

.dropdown-menu .dropdown-item {
  font-size: 14px;
  padding: 10px 15px;
  transition: 0.3s;
}

.dropdown-menu .dropdown-item i {
  margin-right: 10px;
  font-size: 18px;
  line-height: 0;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #f6f9ff;
}

@media (min-width: 768px) {
  .dropdown-menu-arrow::before {
    content: "";
    width: 13px;
    height: 13px;
    background: #fff;
    position: absolute;
    top: -7px;
    right: 20px;
    transform: rotate(45deg);
    border-top: 1px solid #eaedf1;
    border-left: 1px solid #eaedf1;
  }
}

@-webkit-keyframes dropdown-animate {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

  0% {
    opacity: 0;
  }
}

@keyframes dropdown-animate {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

  0% {
    opacity: 0;
  }
}

/* Light Backgrounds */
.bg-primary-light {
  background-color: #cfe2ff;
  border-color: #cfe2ff;
}

.bg-secondary-light {
  background-color: #e2e3e5;
  border-color: #e2e3e5;
}

.bg-success-light {
  background-color: #d1e7dd;
  border-color: #d1e7dd;
}

.bg-danger-light {
  background-color: #f8d7da;
  border-color: #f8d7da;
}

.bg-warning-light {
  background-color: #fff3cd;
  border-color: #fff3cd;
}

.bg-info-light {
  background-color: #cff4fc;
  border-color: #cff4fc;
}

.bg-dark-light {
  background-color: #d3d3d4;
  border-color: #d3d3d4;
}

/* Card */
.card {
  margin-bottom: 30px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
  height: 550px;
}

.card-header,
.card-footer {
  border-color: #ebeef4;
  background-color: #fff;
  color: #798eb3;
  padding: 15px;
}

.card-title {
  padding: 20px 0 15px 0;
  font-size: 18px;
  font-weight: 500;
  color: #012970;
  font-family: "Poppins", sans-serif;
}

.card-title span {
  color: #899bbd;
  font-size: 14px;
  font-weight: 400;
}

.card-body {
  padding: 0 20px 20px 20px;
}

.card-img-overlay {
  background-color: rgba(255, 255, 255, 0.6);
}

/* Alerts */
.alert-heading {
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}

/* Close Button */
.btn-close {
  background-size: 25%;
}

.btn-close:focus {
  outline: 0;
  box-shadow: none;
}

/* Accordion */
.accordion-item {
  border: 1px solid #ebeef4;
}

.accordion-button:focus {
  outline: 0;
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  color: #012970;
  background-color: #f6f9ff;
}

.accordion-flush .accordion-button {
  padding: 15px 0;
  background: none;
  border: 0;
}

.accordion-flush .accordion-button:not(.collapsed) {
  box-shadow: none;
  color: #055570;
}

.accordion-flush .accordion-body {
  padding: 0 0 15px 0;
  color: #3e4f6f;
  font-size: 15px;
}

/* Breadcrumbs */
.breadcrumb {
  font-size: 14px;
  font-family: "Nunito", sans-serif;
  color: #899bbd;
  font-weight: 600;
}

.breadcrumb a {
  color: #899bbd;
  transition: 0.3s;
}

.breadcrumb a:hover {
  color: #51678f;
}

.breadcrumb .breadcrumb-item::before {
  color: #899bbd;
}

.breadcrumb .active {
  color: #51678f;
  font-weight: 600;
}

/* Bordered Tabs */
.nav-tabs-bordered {
  border-bottom: 2px solid #ebeef4;
}

.nav-tabs-bordered .nav-link {
  margin-bottom: -2px;
  border: none;
  color: #2c384e;
}

.nav-tabs-bordered .nav-link:hover,
.nav-tabs-bordered .nav-link:focus {
  color: #055570;
}

.nav-tabs-bordered .nav-link.active {
  background-color: #fff;
  color: #055570;
  border-bottom: 2px solid #055570;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.logo {
  line-height: 1;
}

@media (min-width: 1200px) {
  .logo {
    width: 280px;
  }
}

.logo img {
  max-height: 50px;
  margin-right: 6px;
}

.header {
  transition: all 0.5s;
  z-index: 997;
  height: auto;
  box-shadow: 0px 2px 20px rgb(1 41 112 / 22%);
  background-color: #fff;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header .toggle-sidebar-btn {
  font-size: 32px;
  padding-left: 10px;
  cursor: pointer;
  color: #012970;
  margin-left: 15px;
}

.header .search-bar {
  min-width: 360px;
  padding: 0 20px;
}

@media (max-width: 1199px) {
  .header .search-bar {
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    padding: 20px;
    box-shadow: 0px 0px 15px 0px rgba(1, 41, 112, 0.1);
    background: white;
    z-index: 9999;
    transition: 0.3s;
    visibility: hidden;
    opacity: 0;
  }

  .header .search-bar-show {
    top: 60px;
    visibility: visible;
    opacity: 1;
  }
}

.header .search-form {
  width: 100%;
}

.header .search-form input {
  border: 0;
  font-size: 14px;
  color: #012970;
  border: 1px solid rgba(1, 41, 112, 0.2);
  padding: 7px 38px 7px 8px;
  border-radius: 3px;
  transition: 0.3s;
  width: 100%;
}

.header .search-form input:focus,
.header .search-form input:hover {
  outline: none;
  box-shadow: 0 0 10px 0 rgba(1, 41, 112, 0.15);
  border: 1px solid rgba(1, 41, 112, 0.3);
}

.header .search-form button {
  border: 0;
  padding: 0;
  margin-left: -30px;
  background: none;
}

.header .search-form button i {
  color: #012970;
}

/*--------------------------------------------------------------
# Header Nav
--------------------------------------------------------------*/
.header-nav ul {
  list-style: none;
}

.header-nav>ul {
  margin: 0;
  padding: 0;
}

.header-nav .nav-icon {
  font-size: 22px;
  color: #012970;
  margin-right: 25px;
  position: relative;
}

.header-nav .nav-profile {
  color: #012970;
}

.header-nav .nav-profile img {
  max-height: 36px;
}

.header-nav .nav-profile span {
  font-size: 14px;
  font-weight: 600;
}

.header-nav .badge-number {
  position: absolute;
  inset: -2px -5px auto auto;
  font-weight: normal;
  font-size: 12px;
  padding: 3px 6px;
}

.header-nav .notifications {
  inset: 8px -15px auto auto !important;
}

.header-nav .notifications .notification-item {
  display: flex;
  align-items: center;
  padding: 15px 10px;
  transition: 0.3s;
}

.header-nav .notifications .notification-item i {
  margin: 0 20px 0 10px;
  font-size: 24px;
}

.header-nav .notifications .notification-item h4 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}

.header-nav .notifications .notification-item p {
  font-size: 13px;
  margin-bottom: 3px;
  color: #919191;
}

.header-nav .notifications .notification-item:hover {
  background-color: #f6f9ff;
}

.header-nav .messages {
  inset: 8px -15px auto auto !important;
}

.header-nav .messages .message-item {
  padding: 15px 10px;
  transition: 0.3s;
}

.header-nav .messages .message-item a {
  display: flex;
}

.header-nav .messages .message-item img {
  margin: 0 20px 0 10px;
  max-height: 40px;
}

.header-nav .messages .message-item h4 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #444444;
}

.header-nav .messages .message-item p {
  font-size: 13px;
  margin-bottom: 3px;
  color: #919191;
}

.header-nav .messages .message-item:hover {
  background-color: #f6f9ff;
}

.header-nav .profile {
  min-width: 240px;
  padding-bottom: 0;
  top: 8px !important;
}

.header-nav .profile .dropdown-header h6 {
  font-size: 18px;
  margin-bottom: 0;
  font-weight: 600;
  color: #444444;
}

.header-nav .profile .dropdown-header span {
  font-size: 14px;
}

.header-nav .profile .dropdown-item {
  font-size: 14px;
  padding: 10px 15px;
  transition: 0.3s;
  cursor:pointer;
}

.header-nav .profile .dropdown-item i {
  margin-right: 10px;
  font-size: 18px;
  line-height: 0;
}

.header-nav .profile .dropdown-item:hover {
  background-color: #f6f9ff;
}

/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/
.sidebar {
  position: fixed;
  top: 80px;
  left: 0;
  bottom: 0;
  width: 320px;
  z-index: 996;
  transition: all 0.3s;
  padding: 20px 6px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #aab7cf transparent;
  box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
  background-color: #fff;
  background: rgba(255, 255, 255, 0.9) url(../img/lftbg.jpg)no-repeat scroll;
  background-size: cover;
}

@media (max-width: 1199px) {
  .sidebar {
    left: -300px;
  }
}

.sidebar::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #fff;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #aab7cf;
}

@media (min-width: 1200px) {

  #main,
  #footer {
    margin-left: 310px;
  }
}

@media (max-width: 1199px) {
  .toggle-sidebar .sidebar {
    left: 0;
  }
}

@media (min-width: 1200px) {

  .toggle-sidebar #main,
  .toggle-sidebar #footer {
    margin-left: 0;
  }

  .toggle-sidebar .sidebar {
    left: -320px;
  }
}

.sidebar-nav {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar-nav li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar-nav .nav-item {
  margin-bottom: 5px;
}

.sidebar-nav .nav-heading {
  font-size: 11px;
  text-transform: uppercase;
  color: #899bbd;
  font-weight: 600;
  margin: 10px 0 5px 15px;
}

.sidebar-nav .nav-link {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
  color: #055570;
  transition: 0.3;
  background: #f6f9ff;
  padding: 10px 15px;
  border-radius: 4px;
}

.sidebar-nav .nav-link i {
  font-size: 16px;
  margin-right: 10px;
  color: #055570;
}

.sidebar-nav .nav-link.collapsed {
  color: #fff;
  background: transparent;
}

.sidebar-nav .nav-link.collapsed i {
  color: #fff;
}

.sidebar-nav .nav-link:hover {
  color: #055570;
  background: #f6f9ff;
}

.sidebar-nav .nav-link:hover i {
  color: #055570;
}

.sidebar-nav .nav-link .bi-chevron-down {
  margin-right: 0;
  transition: transform 0.2s ease-in-out;
}

.sidebar-nav .nav-link:not(.collapsed) .bi-chevron-down {
  transform: rotate(180deg);
}

.sidebar-nav .nav-content {
  padding: 5px 0 0 0;
  margin: 0;
  list-style: none;
}

.sidebar-nav .nav-content a {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  transition: 0.3;
  padding: 10px 14px 10px 25px;
  transition: 0.3s;
}

.sidebar-nav .nav-content a i {
  font-size: 6px;
  margin-right: 8px;
  line-height: 0;
  border-radius: 50%;
}

.sidebar-nav .nav-content a:hover,
.sidebar-nav .nav-content a.active {
  color: #fff;
  letter-spacing: 0.5px;
  transition: 0.3s;
}

.sidebar-nav .nav-content a.active i {
  background-color: #055570;
}

/*--------------------------------------------------------------
# Dashboard
--------------------------------------------------------------*/
/* Filter dropdown */
.dashboard .filter {
  position: absolute;
  right: 0px;
  top: 15px;
}

.dashboard .filter .icon {
  color: #aab7cf;
  padding-right: 20px;
  padding-bottom: 5px;
  transition: 0.3s;
  font-size: 16px;
}

.dashboard .filter .icon:hover,
.dashboard .filter .icon:focus {
  color: #055570;
}

.dashboard .filter .dropdown-header {
  padding: 8px 15px;
}

.dashboard .filter .dropdown-header h6 {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #aab7cf;
  margin-bottom: 0;
  padding: 0;
}

.dashboard .filter .dropdown-item {
  padding: 8px 15px;
}

/* Info Cards */
.dashboard .info-card {
  padding-bottom: 10px;
}

.dashboard .info-card h6 {
  font-size: 28px;
  color: #012970;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.dashboard .card-icon {
  font-size: 32px;
  line-height: 0;
  width: 64px;
  height: 64px;
  flex-shrink: 0;
  flex-grow: 0;
}

.dashboard .sales-card .card-icon {
  color: #055570;
  background: #f6f6fe;
}

.dashboard .revenue-card .card-icon {
  color: #2eca6a;
  background: #e0f8e9;
}

.dashboard .customers-card .card-icon {
  color: #ff771d;
  background: #ffecdf;
}

/* Activity */
.dashboard .activity {
  font-size: 14px;
}

.dashboard .activity .activity-item .activite-label {
  color: #888;
  position: relative;
  flex-shrink: 0;
  flex-grow: 0;
  min-width: 64px;
}

.dashboard .activity .activity-item .activite-label::before {
  content: "";
  position: absolute;
  right: -11px;
  width: 4px;
  top: 0;
  bottom: 0;
  background-color: #eceefe;
}

.dashboard .activity .activity-item .activity-badge {
  margin-top: 3px;
  z-index: 1;
  font-size: 11px;
  line-height: 0;
  border-radius: 50%;
  flex-shrink: 0;
  border: 3px solid #fff;
  flex-grow: 0;
}

.dashboard .activity .activity-item .activity-content {
  padding-left: 10px;
  padding-bottom: 20px;
}

.dashboard .activity .activity-item:first-child .activite-label::before {
  top: 5px;
}

.dashboard .activity .activity-item:last-child .activity-content {
  padding-bottom: 0;
}

/* News & Updates */
.dashboard .news .post-item+.post-item {
  margin-top: 15px;
}

.dashboard .news img {
  width: 80px;
  float: left;
  border-radius: 5px;
}

.dashboard .news h4 {
  font-size: 15px;
  margin-left: 95px;
  font-weight: bold;
  margin-bottom: 5px;
}

.dashboard .news h4 a {
  color: #012970;
  transition: 0.3s;
}

.dashboard .news h4 a:hover {
  color: #055570;
}

.dashboard .news p {
  font-size: 14px;
  color: #777777;
  margin-left: 95px;
}

/* Recent Sales */
.dashboard .recent-sales {
  font-size: 14px;
}

.dashboard .recent-sales .table thead {
  background: #f6f6fe;
}

.dashboard .recent-sales .table thead th {
  border: 0;
}

.dashboard .recent-sales .dataTable-top {
  padding: 0 0 10px 0;
}

.dashboard .recent-sales .dataTable-bottom {
  padding: 10px 0 0 0;
}

/* Top Selling */
.dashboard .top-selling {
  font-size: 14px;
}

.dashboard .top-selling .table thead {
  background: #f6f6fe;
}

.dashboard .top-selling .table thead th {
  border: 0;
}

.dashboard .top-selling .table tbody td {
  vertical-align: middle;
}

.dashboard .top-selling img {
  border-radius: 5px;
  max-width: 60px;
}

/*--------------------------------------------------------------
# Icons list page
--------------------------------------------------------------*/
.iconslist {
  display: grid;
  max-width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1.25rem;
  padding-top: 15px;
}

.iconslist .icon {
  background-color: #fff;
  border-radius: 0.25rem;
  text-align: center;
  color: #012970;
  padding: 15px 0;
}

.iconslist i {
  margin: 0.25rem;
  font-size: 2.5rem;
}

.iconslist .label {
  font-family: var(--bs-font-monospace);
  display: inline-block;
  width: 100%;
  overflow: hidden;
  padding: 0.25rem;
  font-size: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #666;
}

/*--------------------------------------------------------------
# Profie Page
--------------------------------------------------------------*/
.profile .profile-card img {
  max-width: 120px;
}

.profile .profile-card h2 {
  font-size: 24px;
  font-weight: 700;
  color: #2c384e;
  margin: 10px 0 0 0;
}

.profile .profile-card h3 {
  font-size: 18px;
}

.profile .profile-card .social-links a {
  font-size: 20px;
  display: inline-block;
  color: rgba(1, 41, 112, 0.5);
  line-height: 0;
  margin-right: 10px;
  transition: 0.3s;
}

.profile .profile-card .social-links a:hover {
  color: #012970;
}

.profile .profile-overview .row {
  margin-bottom: 20px;
  font-size: 15px;
}

.profile .profile-overview .card-title {
  color: #012970;
}

.profile .profile-overview .label {
  font-weight: 600;
  color: rgba(1, 41, 112, 0.6);
}

.profile .profile-edit label {
  font-weight: 600;
  color: rgba(1, 41, 112, 0.6);
}

.profile .profile-edit img {
  max-width: 120px;
}

/*--------------------------------------------------------------
# F.A.Q Page
--------------------------------------------------------------*/
.faq .basic h6 {
  font-size: 18px;
  font-weight: 600;
  color: #055570;
}

.faq .basic p {
  color: #6980aa;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info-box {
  padding: 28px 30px;
}

.contact .info-box i {
  font-size: 38px;
  line-height: 0;
  color: #055570;
}

.contact .info-box h3 {
  font-size: 20px;
  color: #012970;
  font-weight: 700;
  margin: 20px 0 10px 0;
}

.contact .info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  margin-bottom: 24px;
  font-weight: 600;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  margin-bottom: 24px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
  margin-bottom: 24px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  border-radius: 0;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
  border-color: #055570;
}

.contact .php-email-form input {
  padding: 10px 15px;
}

.contact .php-email-form textarea {
  padding: 12px 15px;
}

.contact .php-email-form button[type=submit] {
  background: #055570;
  border: 0;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}

.contact .php-email-form button[type=submit]:hover {
  background: #5969f3;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Error 404
--------------------------------------------------------------*/
.error-404 {
  padding: 30px;
}

.error-404 h1 {
  font-size: 180px;
  font-weight: 700;
  color: #055570;
  margin-bottom: 0;
  line-height: 150px;
}

.error-404 h2 {
  font-size: 24px;
  font-weight: 700;
  color: #012970;
  margin-bottom: 30px;
}

.error-404 .btn {
  background: #51678f;
  color: #fff;
  padding: 8px 30px;
}

.error-404 .btn:hover {
  background: #3e4f6f;
}

@media (min-width: 992px) {
  .error-404 img {
    max-width: 50%;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  padding: 20px 0;
  font-size: 14px;
  transition: all 0.3s;
  border-top: 1px solid #cddfff;
}

.footer .copyright {
  text-align: center;
  color: #012970;
}

.footer .credits {
  padding-top: 5px;
  text-align: center;
  font-size: 13px;
  color: #012970;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu a::after {
  transform: rotate(-90deg);
  position: absolute;
  right: 6px;
  top: .8em;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: .1rem;
  margin-right: .1rem;
}

.dwnArw {
  font-size: 16px !important;
  margin-right: 0 !important;
}

.title {
  font-weight: 600;
  padding-left: 10px;
  box-sizing: border-box;
  line-height: 18px;
  padding-top: 0;
  margin-bottom: 0;

}

.mnuicn-btn {
  padding: 0 10px;
  font-size: 28px !important;
  border-radius: 2px;
  background-color: #055570;
  color: #fff !important;
}

.prfle-img {
  border: 1px solid #ddd;
  padding: 6px;
  max-height: 40px;
}

.tblmn thead tr th {
  background-color: #055570;
  color: #fff;
}

.tblmn tr td {
  /* width:150px; */
  width: auto;
  font-size: 14px;
  vertical-align: middle;
}

.tblmn tr td:last-child {
  width: 120px;
}

.edit,
.delt,
.view {
  background-color: #038f14;
  padding: 8px;
  font-size: 15px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  border: 1px solid #fff;
  margin: 0 2px 8px;
}

.delt {
  background-color: #d50d0d;
}

.view {
  background-color: #055570;
}

.cstmBtn {
  background-color: #055570 !important;
  border: 1px solid #055570;
  padding: 7px 25px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 400;
  border-radius: 2px;
  transition: 0.3s;
  cursor:pointer;
}

.cstmBtn:hover {
  background-color: #fff !important;
  border: 1px solid #055570;
  color: #055570 !important;
  transition: 0.3s;
}

.sidebar li {
  color: #fff;
  list-style-type: none;
  word-break: break-word;
  cursor: pointer;
  font-size: 15px;
  padding-left: 5px;
  font-weight: 600;
  margin-bottom: 6px !important;
  padding-bottom: 0;
  /* min-height: 35px; */
  min-height: auto;
}

.fa-folder-open {
  font-size: 13px;
}

.sidebar ul {
  padding: 0;
}

.sidebar ul li ul {
  padding: 10px;
  display: none;
  padding-right: 0;
}

.arw {
  font-size: 12px
}

.mnuMn {
  color: #fff;
  transition: 0.3s;
  padding: 10px 15px;
}

.mnuMn:hover {
  transition: 0.3s;
  color: #000;
  background-color: #ffffff;
  padding: 10px 15px;
  border-radius: 4px;
}

.mnuCntnr.active .mnuMn {
  background-color: #fff;
  padding: 10px 15px;
  border-radius: 4px;
  width: 100%;
  display: inline-block;
}

.mnuCntnr.active a {
  color: #055570;
}

.mnuCntnr ul li i {
  font-size: 12px;
  vertical-align: middle;
  margin-right: 10px;
}

.mnuCntnr ul li a.mnuMn {
  background-color: transparent !important;
  width: 100% !important;
  display: inline-block !important;
  color: #fff;
  padding: 0 !important;
  border-radius: unset !important;
  font-size: 18px;
}

.mnuCntnr ul li ul li a,
.mnuCntnr.active ul li a,
.mnuCntnr ul li a {
  color: #fff !important;
  font-size: 14px;
}

.mnuCntnr ul li a {
  width: 100%;
  display: inline-block;
}

.mnuCntnr ul li ul li a {
  font-size: 14px !important;
  width: 100%;
  display: inline-block;
  transition: 0.3s;
}

/* .mnuCntnr ul li ul li a i{
  display: block;
  float: left;
  width: 4%;
  height: 15px;
  margin-top: 6px;
}
.mnuCntnr ul li ul li a span{
  display: block;
  float: left;
  width: 91%;
}
.mnuCntnr ul li ul li a{
  display: inline-block;
  width: 100%;
}
.mnuCntnr ul .mnuMn ul li ul li a.mnuMn{
  color:yellow !important;
} */

/*==========  17-02-2023 ========== */

.logbg {
  background: rgba(255, 255, 255, 0.9) url(../img/loginbg.png) no-repeat 0 0;
  height: 100vh;
  background-size: cover;
}

.lftPrt {
  background-color: rgba(35, 36, 126, 0.8);
  color: #fff;
}

.logDv {
  position: absolute;
  top: 50%;
  left: 50%;
}

.lftBdyCntnt {
  color: #fff;
  position: absolute;
  top: 200px;
  left: 35px;
  text-transform: uppercase;
  font-size: 40px;
  width: 85%;
}

.lftBdyCntnt .card-title {
  color: #fff;
  font-size: 30px !important;
  line-height: 20px;
}

.lftBdyCntnt span {
  font-weight: 700;
}

.lftBdyCntnt p {
  font-size: 15px;
  text-transform: none;
  width: 100%;
}

.lblTxt {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.imgLogo {
  width: 75px;
}

.btnSbmt {
  background-color: #20237c;
  border: 0;
  transition: 1s;
}

.btnSbmt:hover {
  background-color: #fff;
  color: #20237c;
  border: 1px solid #20237c;
  transition: 1s;
}

.lginTxt,
.sgnUp {
  color: #000;
  font-size: 14px;
  text-transform: uppercase;
  border-bottom: 1px solid #ddd;
  margin-right: 5%;
  width: 45%;
  cursor: pointer;
}

.lginTxt.logActv {
  color: #20237c;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}

.sgnUp {
  margin-left: 5%;
  margin-right: 0;
}

.lblRdo {
  vertical-align: text-top;
  font-size: 14px;
  font-weight: 600;
}

.imigShprte {
  position: absolute;
  right: -48px;
  border: 1px solid #000;
  padding: 33px 18px;
  z-index: 99;
  background-color: #fff;
  color: #000;
  height: 100px;
  width: 100px;
  top: 60px;
  -webkit-box-shadow: 4px 3px 9px -1px #767676 inset;
  -moz-box-shadow: 4px 3px 9px -1px #767676 inset;
  box-shadow: 4px 3px 9px -1px #767676 inset;
}

.imigShprte i {
  font-size: 35px;
  color: #20237c;
}

.w-45 {
  width: 45%;
}

.w-55 {
  width: 55%;
}

.ms-40 {
  margin-left: 40px !important;
}

/* .tblmn th:nth-child(1){
  width:8%;
}
.tblmn th:nth-child(2){
  width: 20%;
}
.tblmn th:nth-child(3){
  width: 10%;
}
.tblmn th:nth-child(4){
  width: 15%;
}
.tblmn th:last-child{
  width: 12%;
} */
/*======= Dashboard ========= */
.mtrAll {
  border: 1px solid #055570;
  border-radius: 8px;
  padding: 15px;
}

.mtrDte {
  display: block;
  float: left;
  width: 17%;
  border-right: 1px solid #cbcbcb;
  margin-right: 15px;
  text-align: center;
  padding: 0 10px 0 0;
}

.dte {
  font-size: 40px;
  color: #055570;
  font-weight: 800;
  line-height: 40px;
}

.mnth {
  font-size: 13px;
  color: #000;
  font-weight: 600;
}

.mtrDtls {
  width: 80%;
  color: #000;
}

.mnMtter {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 17px;
}

.mnMtterDesc {
  font-size: 15px;
  font-weight: 500;
  margin-top: 2px;
}

.ChartSec {
  border: 1px solid #055570;
  border-radius: 8px;
}

.ChartSecTop {
  background-color: #efefef;
  padding: 10px;
  display: inline-block;
  width: 100%;
  border-radius: 6px 6px 0 0;
  border-bottom: 1px solid #b3b3b3;
}

.blmnth {
  width: 35%;
  text-align: left;
  margin-top: 6px;
  color: #055570;
  font-weight: 600;
}

.mnthLst {
  width: 64%;
  background-color: transparent;
  border: 1px solid #7c7c7c;
  border-radius: 2px;
  font-size: 15px;
  padding: 3px 10px 5px 12px;
  margin-top: 2px;
}

.lftprtTop {
  color: #055570;
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 4px;
}

.dueAmunt span {
  border: 1px solid #ddd;
  border-radius: 4px;
  text-align: center;
  color: #044e66;
}

.chrtLgnd {
  cursor: pointer;
}

.amntBx {
  display: block;
  float: left;
  padding: 4px 15px;
  background-color: #ddd;
  width: 20%;
  margin-right: 5px;
}

.amntNm {
  font-size: 15px;
  vertical-align: middle;
  font-weight: 600;
}

.unrelsd {
  background-color: #00a9a8;
}

.relsd {
  background-color: #055570;
}

.mnmnuLst {
  border-bottom: 1px solid #ffffff14;
  padding-bottom: 15px;
}

.tblMn {
  display: inline-block;
  width: 100%;
  overflow-x: auto;
}

/* .tblMn table{
  width:1300px;
} */
.srchtop .form-outline {
  width: 85% !important;
}

.srchtop input {
  border-radius: 0;
  padding: 7px 10px;
}

.srchtop input:focus {
  outline: none;
  border: 1px solid #ddd;
  box-shadow: none;
}

.srchtop .btn {
  border-radius: 0;
  width: 15%;
  background-color: #055570;
}

.w-25 {
  width: 25%;
}

.gotoPge {
  color: #055570;
  font-weight: 600;
}

.pagntnSec {
  cursor: pointer;
  color: #055570;
  font-weight: 600;
}

.crntpg {
  color: #ffffff;
  background-color: #038f14;
  width: auto;
  height: 30px;
  display: inline-block;
  text-align: center;
  /*padding: 4px;*/
  padding:4px 10px;
}

.fnt14 {
  font-size: 14px;
}

.arwbtn {
  float: left;
  display: block;
  margin-top: 2px;
}

.w-65 {
  width: 65%;
}

/*======== 06-03-2023 =========*/
.top-btn-fld .cstmBtn {
  padding: 8px 15px;
  font-size: 14px;
  /* width: 100px; */
  width: auto;
}

.inpt-vw {
  position: absolute;
  top: 44px;
  right: 8px;
  color: #055570;
  font-size: 15px;
}

.sec-bdr {
  border: 1px solid #ddd;
  border-radius: 4px;
}

/*======== 10-03-2023 ========*/
.sec1 {
  box-shadow: 0px 0px 12px #ddd;
}

.inpts i {
  position: absolute;
  top: 45px;
  right: 20px;
  font-size: 15px;
}

.mtop {
  margin-top: 32px;
}

.mtoprdo {
  margin-top: 35px;
}

.rdobtnall {
  border: 1px solid #cdcdcd;
  border-radius: 4px;
  padding: 6px;
}

.intrmde-dts .sectitl {
  position: absolute;
  top: -20px;
  left: 20px;
  background-color: #ddd;
  color: #000;
  font-size: 15px;
  padding: 6px 15px;
}

.cstmTbl tr th {
  background-color: #055570;
  color: #fff;
}

.tbladd td i {
  border: 1px solid #ddd;
  padding: 8px;
  cursor: pointer;
  font-size: 13px;
  border-radius: 4px;
}

.tbladd td i.fa-plus {
  background-color: rgb(18, 75, 1);
  color: #fff;
}

.tbladd td i.fa-trash {
  background-color: rgb(109, 22, 0);
  color: #fff;
  font-size: 12px;
  padding: 13px 12px 10px;
}

.tbladd p {
  background-color: #ddd;
  color: #000;
}

/*======= popup 13-03-2023 ===========*/
.dtatbl .modal-dialog {
  max-width: 1000px;
}

.btnClse {
  background-color: rgb(56, 56, 56);
  border-color: rgb(56, 56, 56);
}

.btnClse:hover {
  background-color: #fff;
  border-color: rgb(56, 56, 56);
  color: #000;
}

.scrltbl {
  height: 300px;
  overflow: auto;
  width: 100%;
}

.scrltbl table {
  width: 1300px;
}

.close {
  border: 2px solid #ddd !important;
  padding: 7px;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 35px !important;
  cursor: pointer;
}

.btn-bdge,
.btn-bdge:hover {
  border-radius: 4px !important;
  font-size: 15px !important;
  padding: 10px 25px;
  margin-top: 30px !important;
  background-color: #055570;
  cursor: no-drop !important;
}

.btn-bck,
.btn-save {
  padding: 6px 25px;
  border-radius: 4px;
  font-weight: 500;
  border: 1px solid #000;
}

.btn-save {
  background-color: #055570;
  border: 1px solid #055570;
}

.btn-save:hover {
  border: 1px solid #055570;
  color: #055570;
  background-color: #fff;
  font-weight: 500;
}

/*======= Sub Menu Active ==========*/
.mnuCntnr.active ul li.dddd {
  background-color: #fffffff2;
  padding: 1px 5px;
  border-radius: 2px;
  text-decoration: none !important;
  color: #000 !important;
  width: 100%;
  display: block;
}

.view:hover,
.delt:hover,
.edit:hover {
  background-color: transparent;
  border: 1px solid rgb(78, 78, 78);
  color: #000;
}

/*============ 20-03-2023 ============*/
.frms-sec {
  border-radius: 6px;
  border: 1px solid #ddd;
}

.w-48 {
  width: 43%;
}

.icn-vw {
  float: left;
  position: absolute;
  top: 43px;
  right: 20px;
  color: #055570;
  cursor: pointer;
}

.lbl-mn {
  font-size: 15px;
  font-weight: 600;
}

.btn-cncl {
  background-color: #3c3c3c;
  border: 1px solid #3c3c3c;
}

li.endurl-hvr:hover {
  background-color: rgba(255, 255, 255, 0.7);
  /* padding: 4px 10px; */
  border-radius: 2px;
  text-decoration: none !important;
  color: #000 !important;
  width: 100%;
  display: block;
}

li.endurl-hvr:hover a span,
li.endurl-hvr:hover a i {
  color: #000 !important;
  transition: 0.3s;
}

.mnuCntnr.active ul li.dddd a {
  color: #000 !important;
}

li.dddd {
  background-color: #fff;
  color: #000 !important;
  border-radius: 2px;
}

.mnuCntnr ul li ul li.dddd a {
  color: #000 !important;
}

.endurl-hvr {
  /* height: 25px;
  min-height: 25px !important; */
  height: auto;
}

.mnmnu-hovractive .mnuMn {
  background-color: #fff;
  color: #000;
  border-radius: 4px;
}

.mnuCntnr ul li.endurl-hvr.dddd a {
  color: #000 !important;
}

/*=========== 21-03-2023 ==========*/
#lookupTable tr td:first-child {
  width: 35px;
}

#lookupTable tr td:first-child input[type="radio"],
.fa-binoculars {
  cursor: pointer;
}

::placeholder {
  font-size: 13px;
}

/*======== 22-03-2023 ==========*/
.fs-14 td,
.fs-14 th {
  font-size: 14px;
  font-weight: 600;
  border: 1px solid #eee !important;
}

.fs-14 th {
  background-color: #055570;
  color: #fff;
}

.w-15 {
  width: 15%;
}

.btndv {
  right: 25px;
}

.btndv a {
  font-size: 14px;
}

.tbl-sec {
  margin-top: 80px;
  background-color: rgb(229 229 229);
}

/* .hrClr hr{
  background-color: rgb(0, 0, 0); height: 2px; border: 0;
} */
/*========== 28-03-2023 ===========*/
.w-12 {
  width: 12%;
}

.w-15 {
  width: 15%;
}

.resze {
  resize: vertical;
}

.tbladd td i:hover {
  border: 1px solid rgb(1, 100, 18);
  color: #038f14;
  background-color: #fff;
}

/*======== 13-04-2023 =========*/
.smlBxLft {
  width: 27%;
  margin-right: 7px;
}

.w-70 {
  width: 70%;
}

.ScrltblMn {
  width: 100%;
  overflow-x: scroll;
}

.ScrltblMn table {
  width: 1800px;
}

.actvFrmsec {
  position: relative;
  margin-top: 30px;
  padding-top: 30px !important;
}

.actvFrmsec .cstmBtn {
  top: -20px;
  position: absolute;
  left: 25px;
  cursor: context-menu;
}

.actvFrmsec .cstmBtn:hover {
  background-color: #055570;
  color: #fff;
}

/*========= 13-04-2023 ========*/
.report_detail_rb.border {
  border: 1px solid #fff !important;
}

.w-35 {
  width: 35%;
}

.w-40 {
  width: 40%;
}

/*============= 14-04-2023 ===========*/
.tblLtr {
  width: 900px;
  margin: 0 auto;
}

.tblLtr td {
  padding: 5px 0;
  border: 0;
}

.mnBdy {
  margin-top: 90px;
}


/*============= 01-05-2023 ==============*/


.Inpt-Vw-icn {
  display: block;
  float: left;
  width: 28%;
  margin-right: 2%;
}

.Inpt-Vw-icn .icn-vw {
  top: 11px;
  right: 10px;
}

/*======== New css 13-04-2023 =========*/
.smlBxLft {
  width: 27%;
  margin-right: 7px;
}

.w-70 {
  width: 70%;
}

.tblMn {
  width: 100%;
  overflow-x: auto;
}

.tblMn table {
  width: 1800px;
}

.actvFrmsec {
  position: relative;
  margin-top: 30px;
  padding-top: 30px !important;
}

.actvFrmsec .cstmBtn {
  top: -20px;
  position: absolute;
  left: 25px;
  cursor: context-menu;
}

.actvFrmsec .cstmBtn:hover {
  background-color: #055570;
  color: #fff;
}

/* =========== 27-04-23 ========== */
.scrlTbl,
.scrlTblMd {
  width: 100%;
  overflow-x: auto;
}

.scrlTbl table {
  width: 2500px;
}

.scrlTblMd table {
  width: 1200px;
}

.wd100 {
  width: 100px;
}

.w-250 {
  width: 250px;
}

.w-150 {
  width: 150px;
}

.w-47 {
  width: 47%;
}

.w-33 {
  width: 33%;
}

.w-24 {
  width: 23%;
}

.inptSecBtn {
  position: absolute;
  right: 20px;
  top: -20px;
}

.inptSec input[type='radio'] {
  margin-top: 6px;
  margin-right: 8px;
}

.inptSec label {
  font-size: 14px;
}

.fs-15 {
  font-size: 15px;
}

.w-35 {
  width: 35%;
}

.w-20 {
  width: 20%;
}

.rdoBtnSec {
  width: 65%;
  border-radius: 6px;
  padding: 3px 20px;
}

.adrsAtn {
  margin-top: 28px;
}

.actvFrmsec .hovrnone:hover {
  color: #fff !important;
}

.tblMnNoscrl table {
  width: 100%;
}

.w-8 {
  width: 8%;
}

/*=============== 17-05-2023 ===============*/
.frm_Slct {
  width: 35%;
  float: left;
  margin-right: 4%;
}

.frm_inpt {
  width: 25%;
  float: left;
}

.dsh {
  display: block;
  float: left;
  width: 2%;
  padding: 5px 0;
  text-align: center;
}

.w-27 {
  width: 26%;
}

.posTopRgt11 {
  top: 11px;
  right: 12px;
}

/*=============== 06-06-2023============*/
.cstmRdobtn {
  background-color: #055570;
  padding: 7px 15px;
  color: #fff;
  cursor: pointer;
  border: 1px solid #055570;
  transition: 0.3s;
}

.cstmRdobtn:hover {
  background-color: #fff;
  padding: 7px 15px;
  color: #055570;
  border: 1px solid #055570;
  cursor: pointer;
  transition: 0.3s;
}

.cstmRdobtn label {
  cursor: pointer;
}

.cstmBtn:disabled {
  background-color: #ddd;
  border: 1px solid #ddd;
  color: #055570;
  cursor: no-drop;
}

::placeholder {
  color: #ccc !important;
  font-size: 14px !important;
  font-style: italic;
}

/*============= 08-06-2023================*/
.mt-31 {
  margin-top: 31px;
}

.w-60 {
  width: 60%;
}

.fntSml {
  font-size: 15px;
}

.tblhdClr th {
  background-color: #055570;
  color: #fff;
}

/*========== 13-06-2023========== */
.w-63 {
  width: 63%;
}

.w-42 {
  width: 42%;
}

.bdge {
  text-transform: uppercase;
  background-color: #055570 !important;
  color: #fff;
  padding: 10px 20px;
  font-size: 15px;
  border-radius: 3px;
  float: right;
  display: block;
  margin-top: 25px;
}

.bdge:hover {
  color: #fff;
}

.bnd {
  background-color: #055570;
  color: #fff;
  padding: 10px 20px;
}

.brkwrd {
  word-break: break-all;
}

.lft-140 {
  left: 140px;
}

/*====== 15-06-2023 ====== */
.tblcbx {
  width: 18px;
  height: 20px;
  display: block;
  float: left;
}

.w-72 {
  width: 72%;
}

.w-54 {
  width: 54%;
}

.w-28 {
  width: 28%;
}

/*===== 16-06-2023 ======*/
.rdobtnlst {
  border: 1px solid #ddd;
  padding: 6px 20px;
  border-radius: 4px;
}

/*========  27072023 ========*/
.ltrTbl {
  width: 750px;
  margin: 0 auto;
}

.ltrTblSec {
  background-color: #fff;
}

.ltrtbltd {
  padding-bottom: 8px;
}

.ptop25 {
  padding-top: 25px;
}

.ptop15 {
  padding-top: 10px;
}

.ltrTblSec p.tblbrkend {
  width: 750px;
  margin: 0 auto;
  margin-top: 25px;
  display: block;
  text-align: center;
  border-bottom: 4px solid #055570;
}

/*========  03082023 ========*/

.errorInput {
  border-color: #ff0000;
}

/* ========= 03082023 =========*/
.w-180 {
  width: 180px;
}

.w-350 {
  width: 350px;
}

.Scrltbl_lrg {
  width: 100%;
  overflow-x: scroll;
}

.Scrltbl_lrg table {
  width: 3900px;
}

/*========= 08082023 ========= */
.cbxHead {
  width: 50px;
}

.cbxtd {
  padding-top: 18px !important;
}

.cbxtd input {
  height: 15px;
  width: 15px;
}

/*======= 09082023 ========*/
.tblscrlvtrcl {
  height: 275px;
  overflow-y: auto;
}

.tblscrlvtrcllrg {
  height: 350px;
  overflow-y: auto;
}

.w-10 {
  width: 10%;
}

/* =============== 14082023 ================*/
.Nwlkup_Icn {
  top: 20px;
  right: 18px;
}

.NwCbx_tbl {
  height: 18px;
  width: 18px;
  margin: 10px 0 8px 8px;
}

/* ======== 14082023 ========= */
.tpbdgeSec {
  right: 25px;
  top: 0;
  position: absolute;
  background-color: #055570;
  border: 1px solid #055570;
  color: #fff !important;
  border-radius: 2px;
}

.tpbdgeSec:hover {

  background-color: #055570;
  border: 1px solid #055570;
  cursor: no-drop !important;
}

/*========== 16082023 ==========*/
.NwbdgeTop {
  position: absolute;
  right: 0;
  top: 0;
}

.mtp-30 {
  margin-top: 30px !important;
}

/*============ 21082023 ===========*/
.border-slct {
  border: 1px solid #bebebe;
  border-radius: 6px;
  padding: 4px;
}

/*========== 28082023 ===========*/
.cbxInpt {
  width: 18px;
  height: 18px;
}

.w-94 {
  width: 94%;
}

.w-5 {
  width: 5%;
}

.icnVwSmlCntnr {
  left: unset;
  right: 10px;
  top: 10px;
}

/*========= 29082023 ====== */
.h100 {
  height: 100px;
}

.vertScrl {
  max-height: 350px;
  overflow-y: auto;
}

/*---------- 310823--------*/
.w48 {
  width: 48%;
}

.NwVrtScrl {
  max-height: 500px;
  overflow-y: auto;
}

.blcpyMn {
  width: 100% !important;
}

.blcpyMn div.w48,
.blcpyMn div.w-100 {
  width: 50% !important;
}

.blcpyMn div.w100 {
  width: 100% !important;
}

.w-7 {
  width: 7% !important;
}

/*=========== 04092023 ==========*/
.rgt15 {
  right: 15px;
}

.mntblDv table {
  margin: 0 auto;
}

.tblmn2 table tr td table {
  font-size: 15px;
  color: #000;
}

.w125 {
  width: 100px;
}

.w46 {
  width: 46%;
}

.w-37 {
  width: 37%;
}

.w-45 {
  width: 45%;
}

/*========== 05092023 ========= */
.w-52 {
  width: 53%;
}

.w-90 {
  width: 90%;
}

/*=========== 08092023 ============= */
.rdoBdr {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 6px;
}

.GroupDetail_band_portrait {
  font-size: 12px !important;
  color: #000000;
}

.ReportColumn_portrait {
  font-weight: bold;
  font-size: 12px;
  color: #000000;
}

.tblTplst {
  width: 120px;
  display: block;
}

/*========== 11092023 =========== */
.addIcn {
  background-color: #055570;
  padding: 8px 10px;
  border: 1px solid #055570;
  color: #fff;
  cursor: pointer;
  border-radius: 2px;
  transition: 0.3s;
}

.addIcn:hover {
  background-color: transparent;
  color: #055570;
  border: 1px solid #055570;
  transition: 0.3s;
}

.hgt120 {
  height: 120px;
}

.icn-vw2 {
  top: 10px;
  right: 12px;
}

/*========== 14092023 swal popup ==========*/
#swal2-title {
  line-height: 32px;
  font-size: 22px;
  width: 80%;
  margin: 0 auto;
  font-weight: 500;
}

#swal2-title b {
  text-decoration: none !important;
  color: #033343 !important;
}

.swal2-confirm {
  color: #fff !important;
  background-color: #055570 !important;
  border: 1px solid #055570 !important;
  transition: 0.3s;
}

.swal2-confirm:hover {
  background-color: #fff !important;
  border: 1px solid #055570 !important;
  color: #055570 !important;
  background-image: unset !important;
  transition: 0.3s;
}

.swal2-show {
  padding-top: 12px !important;
}

.bdrMn {
  border: 1px solid #ddd;
  border-radius: 6px;
}

.histryIcn {
  right: unset !important;
  top: 5px !important;
  left: 62px;
  font-size: 15px !important;
  cursor: pointer;
}

.rowSlcted td,
.rowSlcted td input,
.rowSlcted td textarea,
.rowSlcted td select {
  background-color: rgb(163 200 213);
}

.w130 {
  width: 130px;
}

.w250 {
  width: 250px;
}

.w550 {
  width: 500px;
}

.w130 {
  width: 130px;
}

.w250 {
  width: 250px;
}

.w550 {
  width: 500px;
}

table.borderTd td {
  border: 1px solid #ddd;
}

.loader {
  margin-left: 50%;
  margin-top: 5%;
}

.tblPrnt {
  width: 900px;
  margin: 0 auto;
  border: 1px solid #012970;
  border-radius: 4px;
}

.tblPrnt .tblLtr {
  width: 100%;
}

.imlogoLtrpg {
  width: 200px;
}

.emlSecTp {
  border-bottom: 3px solid #5b5a5a !important;
}

.m0auto{
  margin: 0 auto !important;
}
.top100{
  top:100px;
}
.mtop90{
  margin-top: 90px !important;
}
/*========= 04102023 ==========*/
.ScrltblMnOthrsPop table{
  width: 100%;
  table-layout: fixed;
}
.ScrltblMnOthrsPop table tr th,
.ScrltblMnOthrsPop table tr td{
  width: 100%;
  word-wrap: break-word;
}
.nobrdr-icn td i{
  border: 0;
  padding:unset;
  cursor: pointer;
  font-size: unset;
  border-radius: unset;
}
.nobrdr-icn td i:hover{
  border: unset;
  color: unset;
  background-color:unset;
}
/*============ 09102023 =================*/
.h75{
  height:75px;
}
/*========= Table Scroll 16102023 ========== */
.NwTbl_7_no_Scrl table{
    width: 100%;
	overflow:hidden;
}
.NwTbl_8_Scrl_Mdm table{
    width: 1500px;
	overflow-x:scroll;
}
.NwTbl_lrg_Scrl table{
    width: 1600px;
	overflow-x:scroll;
}
.pgeCunt{
    display: block;
    float: left;
    margin-left: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: #0d52c2;
    padding: 0px 10px;
    border-left: 1px solid #aeaeae;
}
/*=========== 17102023 ============= */
.w-3{
    width:3%;   
}
.w-150{
    width:150px;
}
.tblscrlvtrclExtlrg{
    height:auto;
    max-height:450px;
    overflow-y:auto;
}
.cstmPdng{
    padding:7px 15px;
}
.pe-8{
    padding-right:80px;
}
/*========= 25-10-2023 ========== */
.btnCstm{
    border:1px solid #055570;
    background-color:#055570;
}
.inptSec .show-tick{
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-top: -2px;
    margin-bottom: 2px;
}
.clckIcn{
    top: 12px !important;
    left: unset;
    right: 10px !important;
}
#alertMsg .alert-info {
    background-color: #055570 !important;
    color: #fff !important;
    border: 1px solid #055570 !important;
    padding: 10px 12px;
    margin-top: 0 !important;
}
#alertMsg .btn-close{
    color: #fff !important;
    background-color: #fff !important;
    opacity: 1 !important;
    border-radius: 50% !important;
    width: 1px !important;
    height: 1px !important;
    padding: 16px !important;
    top: 5px !important;
    right: 6px !important;
}
.clrDpblue{
    color: #055570;
}
.pdfDnld img{
    width: auto;
    max-height: 22px;
}
.pdfDnld:hover{
    background-color: #055570;
}
.w-49{
    width:49%;
}
.hgt70 {
  height: 70px;
}
.hgt100 {
  height: 100px;
}
.slctRow{
    cursor:pointer;
    width:25px;
}
.w-30{
    width:30%;
}
.optnNone .cke_top.cke_reset_all{    
    display:none;
}
/*============== 08112023 ===============*/
.h75{
    height:75px;   
}
.TbladdBtn input[type="button"]{
    background-color: #15b121;
    border: 1px solid #15b121;
    color: #fff;
    font-weight: bold;
    padding: 0px 10px;
    font-size: 22px;
}
.acrdnHedClr .accordion-header button{
    background-color: #055570;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}
.accordion-button.collapsed {
  background: blue
}

.accordion-button:not(.collapsed)::after,.accordion-button.collapsed::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
/*========== 23112023 ===========*/
.mt-10{
	margin-top:10px;
}
.w-23{
	width:23%;
}
.tblePdngsml td{
	padding: 5px 6px !important;
    font-size: 15px;
	vertical-align: middle;
}
.tblePdngsml td select{
	padding: 4px 6px !important;
}
.tblcbx:checked{
	accent-color: #055570;
}
.w-85{
	width:85px;
}
.w-58{
	width:58%;
}
.mt-27{
	margin-top:27px;
}
/*========= 05122023 ========= */
.mt-18{
	margin-top:18px;
}
/*======== 14122023 ========= */
.bgBlue{
	background-color:#055570 !important;
	color:#fff;
}
.w-22{
	width:22%;
}
.TbladdBtn input[type="button"].delt {
    background-color: #e60101;
    border: #e60101;
}
/*============ 18-12-2-23 ==============*/
.top38{
	top:38px;
}
.scrl{
  height: 200px;
  overflow: auto;
  width: 100%;
}

.scrl table {
  width: 1600px;
}
.btndanger {
    background-color: #c91b1b;
    border: 1px solid #c91b1b;
}
.btndanger:hover {
    background-color: #fff;
    border: 1px solid #c91b1b;
	color:#c91b1b;
}
.lnght35{
	line-height:35px;
}
.lkupIcn{
  top:38px;
  right:22px;
}
.mt-27{
	margin-top:27px;
}
.w85{
	width:85%;
}
.top40{
	top:40px;
}
.input-bg{
	background-color:#055570;
	color:#fff;
}
.rgtSecAll{
	background-color: #f7f7f7;
    border: 1px solid #ddd;
}
.mt-20{
	margin-top:20px;
}
.mt-28{
	margin-top:28px;
}
.bgblue{
	background-color:#c8e6f0 !important;
}
.lckpicn2{
    top: 16px;
    right: 12px;
}
.wd50{
    width:50px;
}
.NwhvrNone:hover{
    color:#fff !important;
}
.w25{
    width:25px;
} 
.h25{
    height:25px;
}
.w-500{
    width:500px;
}

@media print {
  th{
    background-color: #055570 !important;
    -webkit-print-color-adjust:exact !important;
    print-color-adjust:exact !important;
    color: #fff !important;
  }
  td{
    border:1px solid #000 !important;
  }
  .mtop90{
    margin-top:0px !important
  }
     #header,#footer,.Nwprntbtn, .Nwprnt_d_none{
        display:none !important;
    }
    .main{
        margin-top:0px !important;
    }
    
}

@page {
    size: auto;   /* auto is the initial value */
    margin: 0;  /* this affects the margin in the printer settings */
}
/*-- 19-12-2023--*/
.btndanger {
  background-color: #c91b1b !important;
  border: 1px solid #c91b1b !important;
  color: #ffff !important;
}
/* end */
/*16-1-2024--*/
.btnnobackground{
  border: none;
  background-color: transparent !important;
  color: blue;
}
/* end */
.mt-28{
  margin-top:28px;
}
/*16-1-2024--*/
.btnnobackground2{
  border: none;
  background-color: transparent !important;
  text-align: center;
  font-size: 15px;
}
/*========== 12-02-2024 ===========*/
input#Add_row1{
    background-color: #5dd931;
    border: 1px solid #5dd931;
    padding: 1px 12px;
    color: #fff;
    font-size: 20px;
}